<script src="https://www.desmos.com/api/v1.9/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
</head>
<body>

    <div id="geometry" style="width: 600px; height: 400px;"></div>

    <script>
   /*      var elt = document.getElementById('calculator');
        var calculator = Desmos.GraphingCalculator(elt); */

        var elt = document.getElementById('geometry');
        var geometry = Desmos.Geometry(elt);

        var state = geometry.getState();
        console.log(JSON.stringify(state))

    </script>
   