<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>balance</title>

    <script type="module" src="https://zimjs.org/cdn/2.1.3/box2d.js"></script>

    <script type="module" src="https://zimjs.org/cdn/2.1.3/box2d_doc.js"></script>

</head>

<body>

    <script type="module">

        import zim from "https://zimjs.com/cdn/016/zim_physics";

        const width = 1024;
        const height = 768;


        var frame = new Frame({
            scaling: FIT, width, height, color: pink,
            progress: new Waiter({
                backgroundColor: blue, corner: 10
            })

        }); // see docs for more optio


        frame.on("ready", () => {

            const stage = frame.stage;
            const stageW = frame.width;
            const stageH = frame.height;
            
                                    // إعداد الفيزياء مع جاذبية وحدود المسرح
            const physics = new Physics({ gravity: 9.8});
            
                        // إنشاء عنصرين: دائرة ومستطيل
            const circle = new Circle(50, "blue").centerReg()
            .drag().center();
            const rect = new Rectangle(100, 50, "green").centerReg()
            .pos(400, 100, stage).drag()
            
            circle.addPhysics({density:5 });   // الدائرة بوزن خفيف
            rect.addPhysics({density: 5});    // المستطيل بوزن ثقيل
            
            let rectBody = rect.body;
            //console.log(rectBody)
            
            const newMass = rectBody.GetMass() //* 5;
            zog('newMass '+newMass)
            //console.log('newMass'+ zog(Object.getPrototypeOf(rectBody)))
            //const massData = rectBody.GetMassData(); 
            //console.log('massData'+massData) 
            //massData.m_mass = newMass;
            
            //rectBody.SetMassData(massData);
            physics.drag();
            circle.physics.debug();

            physics.debug();
            

            Ticker.add(() => stage.update());


            const speech = new Speech();
            // interact at least once before talking
            new Button({label:"TALK"}).center().tap(()=>{
            speech.talk("Hello World");
            });

        })
    </script>


</body>

</html>